<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona</title>
    <link rel="stylesheet" href="../static/styles/home.css" media="screen">
</head>
<body>
    
    <div class="city">
        <p>BASIC COVID-19 INFORMATION VIDEO</p>

    <div style="float:left;width:auto;margin-right:14px;height:50px;">

        <iframe width="300" height="290" src="https://www.youtube.com/embed/DCdxsnRF1Fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>
    </div>

    <div class="city">
        <p>COVID BOOSTER SHOT VIDEO</p>

    <div style="float:left;width:auto;margin-right:14px;height:50px;">

        <iframe width="300" height="290" src="https://www.youtube.com/embed/qXdjt8ZBQbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
    
    <div style="clear:both;height:1em;"></div>


<a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">CDC LINK</a>


<a id="who" href="https://www.who.int/" target="_blank">WHO LINK</a>

<div>
    <a id="map" href="index">map</a>
</div>


</body>
</html>

<style>
    a:link, a:visited {
      background-color: #f44336;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
        margin-top: 230px;
        margin-left: 14px;
    }
    
    a:hover, a:active {
      background-color: red;
    }

    #who {
        margin-left: 190px;
    }
    </style>