<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona</title>
     <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/styles/home.css" media="screen">
</head>
<body>
    
    <div class="city">
        <p>BASIC COVID-19 INFORMATION VIDEO</p>

    <div style="float:left;width:auto;margin-right:14px;height:50px;">

        <iframe width="300" height="290" src="https://www.youtube.com/embed/DCdxsnRF1Fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    </div>
    </div>

    <div class="city">
        <p>COVID BOOSTER SHOT VIDEO</p>

    <div style="float:left;width:auto;margin-right:14px;height:50px;">

        <iframe width="300" height="290" src="https://www.youtube.com/embed/qXdjt8ZBQbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </div>
    
    <div style="clear:both;height:1em;"></div>


<a type="button" class="btn btn-primary" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank">CDC LINK</a>


<a id="who" type="button" class="btn btn-primary" href="https://www.who.int/" target="_blank">WHO LINK</a>

<div>
    <a type="button" class="btn btn-primary" href="index">show maps</a>
</div>


<!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</body>
</html>

<style>
    a:link, a:visited {
      {#background-color: #f44336;#}
      {#color: white;#}
      padding: 14px 25px;
      {#text-align: center;#}
      {#text-decoration: none;#}
      {#display: inline-block;#}
        margin-top: 230px;
        margin-left: 14px;
    }

    a:hover, a:active {
      background-color: red;
    }

    #who {
        margin-left: 190px;
    }
    </style>