<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Covid19map</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/dist/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/dist/css/styles.css" rel="stylesheet" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="home">Covid19maps</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="home">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="home">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="home">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header - set the background image for the header in the line below-->
        <header class="py-5 bg-image-full" style="background-image: url('https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2089&q=80/1600x900')">
            <div class="text-center my-5">
                <a type="button" class="btn btn-success" href="index" >show maps</a>
                <h1 class="text-white fs-3 fw-bolder">OSU HACKATHON</h1>
                <p class="text-white-50 mb-0">Yongsung Cho</p>
                <p class="text-white-50 mb-0">Hongyiel Suh</p>
                <p class="text-white-50 mb-0">Hajong Lim</p>
                <p class="text-white-50 mb-0">Dongwoo Kang</p>
            </div>
        </header>
        <!-- Content section-->
        <section class="py-5">
            <div class="container my-5">
                <div class="row justify-content-center">
                        <div class="container">
                          <div class="row"><!---->
                            <div class="col">
                                <div style= "width:300px;height:70px;padding:15px;background-color:black;color:white; box-sizing: border-box;text-align:center;">
                            
                                
                                
                              <p>COVID-19 INFORMATION VIDEO</p>
                              </div>
                                <div style="float:left;width:auto;margin-right:14px;height:50px;">
                            <iframe width="300" height="290" src="https://www.youtube.com/embed/DCdxsnRF1Fk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                               
                                </div>
                            </div>
                            
                            <div class="col">
                                <div style= "width:300px;height:70px;padding:15px;background-color:black;color:white; box-sizing: border-box;text-align:center;">
                                
                              <p>COVID BOOSTER SHOT VIDEO</p>
                                    </div>
                                <div style="float:left;width:auto;margin-right:14px;height:50px;">

                                    <iframe width="300" height="290" src="https://www.youtube.com/embed/qXdjt8ZBQbE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div class="col">
                                <div style="width:600px;height:380px;padding:15px;background-color:black;color:white; box-sizing:border-box;">
                                <p>If you feel sick and doubt about the covid</p>
                                <p>*Check the symptoms below</p>
                                <p>1.cough</p>
                                <p>2.Fever&CHILL</p>
                                <p>3.Fatigue</p>
                                <p>4.Muscle&Body aches</p>
                                <p>5.Heachaces</p>
                                <p>6.Sorethroat</p>
                                <p>7.Nausea or Vomitting</p>
                                </div>
                            </div>
                          
                          </div>
                          <div class="row">
                            <div class="col">
                              <a type="button" class="btn btn-outline-primary btn-sm" href="https://www.cdc.gov/coronavirus/2019-ncov/index.html" target="_blank" style="margin-top: 250px">CDC LINK</a>

                            </div>
                            
                            <div class="col">
                              <a id="who" type="button" class="btn btn-outline-primary btn-sm" href="https://www.who.int/" target="_blank" style="margin-top: 250px">WHO LINK</a>

                            </div>
                              <div class="col">
                                  &nbsp;
                                  <a>ffff1111aaaaasssss</a>

                              </div>
                            </div>
                          </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/dist/js/scripts.js"></script>
    </body>
</html>